.FooterMainContainer{
    display: flex;
    flex-direction: row;
    background-color: rgb(44, 60, 92);
    width: 100%;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 3%;
    .LeftFooterContainer{
        display: flex;
        flex-direction: column;
        width: 33.3%;
        align-items: center;
        h2{
            margin: 5px;
        }
        p{
            margin: 5px;
        }

    }
    .CenterFooterContainer{
        display: flex;
        flex-direction: column;
        width: 33.3%;
        align-items: center;
        h2{
            margin: 5px;
        }
        a{
            margin: 5px;
            color: white;
        }
    }
    .RightFooterContainer{
        display: flex;
        flex-direction: column;
        width: 33.3%;
        align-items: center;
        h2{
            margin: 5px;
        }
        a{
            margin: 5px;
            color: white;
        }

    }
}