.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-top: 1px solid #eaeaea;
  background-color: #282B4c;
  color:white;
}
.footerSocialMedia{
  padding: 10px 140px 0px 130px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.footerBanner :nth-child(2) a{
  margin-left: 20px;
  margin-right: 65px;
}
.footerBanner :nth-child(2) a:hover{
  color:#E85D0C;
  transform: scale(0.25,0.25);
}
.footerBanner :nth-child(3) a{
  margin-right: 60px;
  width: 237px;
  padding-right: 5%
}
.footerBanner :nth-child(3) a:hover{
  border-bottom: 1px solid #E85D0C;
}
.footerBanner div{
  padding: 28px 0px 15px 0px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: white;
  border-top: 1px solid #eaeaea;
  padding: 0rem 0px 2rem 0px;
}
.links{
  margin-right: 10px;
}
.logo{
  width: 100%;
}
